name: Update deno

on:
  schedule:
    - cron:  '0 42 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v1
        with:
          fetch-depth: 10
      - uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      - run: deno run -A _update_deno.ts
